@model Article

@{
    ViewData["Title"] = Model.Title;
}

<div class="col-lg-9 col-xl-10">
    <div class="post">
        <h1 class="post_title">@Model.Title</h1>
        @Html.Raw(Model.Description)
        <img src="/Articles/Image/@Model.Image" alt="@Model.Title" class="post_image" />
        @Html.Raw(Model.Content)
        <p class="date">@Model.CreatedAt.ToShortDateString()</p>
        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary post_btn">Редактировать</a>
                <form asp-action="Delete" asp-route-id="@Model.Id" class="post_btn">
                    <input type="submit" value="Удалить" class="btn btn-danger post_delete" />
                </form>
                <div class="clear"></div>
            }
        }
    </div>
</div>